---
http_interactions:
- request:
    method: get
    uri: https://xml2rfc.tools.ietf.org/public/rfc/bibxml3/reference.I-D.abarth-cake.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 04 Mar 2011 23:00:00 GMT
      Etag:
      - '"39c37d5-3ef-49db01b059c00"'
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version='1.0' encoding='UTF-8'?>

        <reference anchor='I-D.abarth-cake'>
        <front>
        <title>Origin Cookies</title>

        <author initials='A' surname='Barth' fullname='Adam Barth'>
            <organization />
        </author>

        <date month='March' day='5' year='2011' />

        <abstract><t>This document defines the Origin attribute for cookies, which lets servers harmonize the security policy of their cookies with the widely used same-origin policy.  Origin cookies provide both confidentiality and integrity, unlike the Secure attribute, which provides only confidentiality.Editorial Note (To be removed by RFC Editor)  If you have suggestions for improving this document, please send email to &lt;mailto:http-state@ietf.org>.  Further Working Group information is available from &lt;https://tools.ietf.org/wg/httpstate/>.</t></abstract>

        </front>

        <seriesInfo name='Internet-Draft' value='draft-abarth-cake-01' />
        <format type='TXT'
                target='http://www.ietf.org/internet-drafts/draft-abarth-cake-01.txt' />
        </reference>
  recorded_at: Sat, 01 Jan 2000 05:00:00 GMT
recorded_with: VCR 5.0.0
