---
http_interactions:
- request:
    method: get
    uri: https://xml2rfc.tools.ietf.org/public/rfc/bibxml/reference.RFC.2119.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 01 Nov 2019 04:36:18 GMT
      Etag:
      - '"39c0695-364-5964181c89480"'
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version='1.0' encoding='UTF-8'?>

        <reference  anchor='RFC2119' target='https://www.rfc-editor.org/info/rfc2119'>
        <front>
        <title>Key words for use in RFCs to Indicate Requirement Levels</title>
        <author initials='S.' surname='Bradner' fullname='S. Bradner'><organization /></author>
        <date year='1997' month='March' />
        <abstract><t>In many standards track documents several words are used to signify the requirements in the specification.  These words are often capitalized. This document defines these words as they should be interpreted in IETF documents.  This document specifies an Internet Best Current Practices for the Internet Community, and requests discussion and suggestions for improvements.</t></abstract>
        </front>
        <seriesInfo name='BCP' value='14'/>
        <seriesInfo name='RFC' value='2119'/>
        <seriesInfo name='DOI' value='10.17487/RFC2119'/>
        </reference>
  recorded_at: Sat, 01 Jan 2000 05:00:00 GMT
- request:
    method: get
    uri: https://xml2rfc.tools.ietf.org/public/rfc/bibxml3/reference.I-D.draft-abarth-cake-00.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sat, 21 Aug 2010 22:00:00 GMT
      Etag:
      - '"39c4153-46c-48e5c8963d800"'
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version='1.0' encoding='[...]
